absl-py
astunparse
attrs
backcall
bleach
cachetools
certifi
chardet
click
cycler
decorator
defusedxml
entrypoints
flask
gast
google-auth-oauthlib
google-auth
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython-genutils
ipython
itsdangerous
jedi
jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab-server
jupyterlab
keras-preprocessing
kiwisolver
livelossplot
markdown
markupsafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1-modules
pyasn1
pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests-oauthlib
requests
rsa
scipy
seaborn
send2trash
six
tensorboard-plugin-wit
tensorboard
tensorflow-estimator
tensorflow
termcolor
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
werkzeug
wheel
wrapt
zipp
